GEMINI_API_KEY=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=

OPENROUTER_API_KEY=

DATABASE_URL=postgresql+psycopg://rag_user:rag_password@localhost:5432/enterprise_rag

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
